/* adding something so something get written as I changed the name */
.product-page-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: baseline;
    
    a{
        text-decoration: none;
        color:#27272B ;
    }

    img {
        width: 65rem;
        height: 65rem;
        object-fit: cover;
        object-position: center;
    }
}

.products-container {
    
    display: flex;
    flex-direction: row;
    gap: 10rem;
    flex-wrap: wrap;
    align-items: baseline;
    
    justify-content: center;
}

.product-card {
    padding: 5rem 0rem 2rem;
    h2 {
        font-size: 4rem;
        display: flex;
        flex-wrap: wrap;
    }

    h3 {
        font-size: 4rem;       
    }
}