#releases-page {
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        width: 50rem;
        height: 50rem;
    }
}



#card-container {
    padding: 1rem;
    list-style: none;
    
}

