button {
    font-family: 'square_sans_serif';
    margin: 1rem;
}

button:hover {
    transform: scale(0.9);
    cursor: pointer;
}

.signup-btn, 
.login-btn{
    width: 40rem;
    background-color: var(--color-call-to-action);
}

.save-btn,
.yes-btn {
    width: 30rem;
    background-color: var(--color-call-to-action);
}

.cancel-btn,
.delete-btn{
    background-color: white;
    border: 3px solid var(--color-call-to-action);
    height: 8rem;
    width: 30rem;
}

.no-btn {
    background-color: transparent;
    border: 3px solid var(--color-call-to-action);
    height: 8rem;
    width: 30rem;
}

.add-btn {
    width: 70rem;
    height: 10rem;
    background-color: var(--color-call-to-action);
    font-size: 4rem;
    margin: 4rem 0;
}


.upload-btn,
.edit-btn,
.purchase-btn {
    height: 8rem;
    width: 30rem;
    background-color: var(--color-call-to-action-2);
    border: 3px solid var(--color-call-to-action);
}

.save-btn,
.yes-btn {
    height: 8rem;
    width: 30rem;
    border: 3px solid var(--color-call-to-action);
}

