.navbar-container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.759);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    animation: Fade 500ms linear;
    backdrop-filter: blur(10px);


    a {
        text-decoration: none;
        color: aliceblue;
    }
}

.text-container  {
   
    width: 70vw;
    height: 100%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
   gap: 15px;

}

@keyframes Fade {
0% {
    transform: translateY(-100%) scaleY(-1);
    opacity: 0;
    backdrop-filter: blur(0px);
}
100%{
    transform: translateY(0%) scaleY(1);
    opacity: 1;
    backdrop-filter: blur(10px);
    
}
}



@keyframes FadeOut {
    0%{
        transform: translateY(0%) scaleY(1);
        opacity: 1;
        backdrop-filter: blur(10px);
        
    }
    100% {
        transform: translateY(-100%) scaleY(-1);
        opacity: 0;
        backdrop-filter: blur(0px);
    }
}


.fadeout {
    animation: FadeOut 500ms linear;
}

