.navbar-container {
    width: 100%;
    height: 100%;
    background-color: #27272B;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    animation: Fade 500ms linear;
    backdrop-filter: blur(10px);
    z-index: 10;
    top:0;
    padding-top: 15rem;
    

    a {
        text-decoration: none;
        color: aliceblue;
    }
}

.text-container  {
   
    width: 50vw;
    height: 100%;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    gap: 4rem;

}

.user-nav-tabs{
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    gap: 4rem;

    hr {
        width: 50%;
    }
}

@keyframes Fade {
0% {
    transform: translateY(-100%) scaleY(-1);
    opacity: 0;
    backdrop-filter: blur(0px);
}
100%{
    transform: translateY(0%) scaleY(1);
    opacity: 1;
    backdrop-filter: blur(10px);
    
}
}



@keyframes FadeOut {
    0%{
        transform: translateY(0%) scaleY(1);
        opacity: 1;
        backdrop-filter: blur(10px);
        
    }
    100% {
        transform: translateY(-100%) scaleY(-1);
        opacity: 0;
        backdrop-filter: blur(0px);
    }
}


.fadeout {
    animation: FadeOut 500ms linear;
}

