.card{
    width: 100%;
    min-height: 100rem;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    position: relative;
    background-color: rgba(0, 0, 0, 0.15);
}

.card-info{
    width: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;

    small{
        font-size: 3rem;
        color: var(--color-text-muted)
    }
}


.corners {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    left: 0;
}

.top,
.bottom{
    width: 100%;
    height: 50%;
    position: relative;
}
.top-left {
    left: 0;
    width: 50%;
    height: 100%;
    border-top: 0.5rem solid #000000;
    border-left: 0.5rem solid #000000;
    position: absolute
}

.bottom-right {
    right: 0;
    width: 50%;
    height: 100%;
    border-bottom: 0.5rem solid #000000;
    border-right: 0.5rem solid #000000;
    position: absolute
}
.card-btn-container{
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    gap: 6rem;   
    align-items: baseline;
}
.edit-release{
    width: 100%;
}