.warning-layout {
    background-color: rgba(0, 0, 0, 0.279);
    backdrop-filter: blur(5px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition-delay: 50ms;
    z-index: 100;
  }
  .warning-card {
    background-color: var(--color-background-light);
    color: var(--color-background-dark);
    width: 60rem;
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    gap: 1rem;
    /* transform: translate(-50%, -50%);
    animation: slide-in 800ms; */
    padding: 6rem 10rem;

    small{
      font-size: 3rem;
      color: var(--color-text-muted);
      margin: 3rem 0;
    }
  }
  
/*   @keyframes slide-in {
    0% {
      transform: translate(-600%, -50%);
    }
    50% {
      transform: translate(10%, -50%);
    }
    100% {
      transform: translate(-50%, -50%);
    }
  }
   */