@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  
}

@font-face {
  font-family: 'FrutigerLTStd-UltraBlack';
  src: url('./assets/fonts/FrutigerLTStd-UltraBlack.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FT88-Regular';
  src: url('./assets/fonts/FT88-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MinionPro-Regular';
  src: url('./assets/fonts/MinionPro-Regular') ;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'square_sans_serif';
  src: url('./assets/fonts/square_sans_serif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




body {
  min-height: 100vh;
  font-family: 'square_sans_serif', sans-serif;
  background-color:rgb(246, 255, 254) ;
  
  
}


:root{
  font-size: 4px;
    --color-background-light: rgb(246, 255, 254); /* Para fondos claros */
    --color-background-dark: #27272B; /* Para fondos oscuros, títulos y texto sobre fondo claro */
    --color-text-muted: #BABABA; /* Para texto menos destacado y bordes */
    --color-call-to-action: rgb(116, 238, 35);
    --color-call-to-action-2: rgba(116, 238, 35, 0.5);
}

#root {
  min-height: 100vh;
}
